[package]
name = "rpki"
version = "0.4.0"
authors = ["The NLnet Labs RPKI Team <rpki@nlnetlabs.nl>"]
description = "A library for validating and creating RPKI data."
repository = "https://github.com/NLnetLabs/rpki-rs"
keywords = ["rpki", "routing-security"]
categories = ["network-programming"]
license = "BSD-3-Clause"

[dependencies]
base64          = "^0.9"
bcder           = "^0.3"
bytes           = "^0.4"
chrono          = "^0.4"
derive_more     = "^0.14"
hex             = "^0.3"
log             = "^0.4"
openssl         = { version = "^0.10", optional = true }
quick-xml	= "^0.14"
ring            = "^0.13"
serde		= "^1.0"
slab            = { version = "^0.4", optional = true }
uuid		= "^0.7.4"
untrusted       = "^0.6"

[dev-dependencies]
serde_json    	= "^1.0"

[features]
default = []
softkeys = [ "openssl", "slab" ]
extra-debug = [ "bcder/extra-debug" ]

[patch.crates-io]
bcder = { git="https://github.com/NLnetLabs/bcder.git" }

